<html>
    <head>
        <title>Example</title>
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
        <link href="main.css" rel="stylesheet">
    </head>
<body>
    <div class="container">
        <h1>ToDo Application</h1>
