<section id="toDoList">
    {{#tasks}}
    <div class="row">
        <div class="col-2">
        </div>
            <div id="taskTodo">
                <p>{{name}}</p>
            </div>
    </div>
    {{/tasks}}
</section>