<section id="toDoList">
    {{#tasks}}
    <div class="row">
            <div id="taskTodo">
                <input type="checkbox" />
                <p>{{name}}</p>
            </div>
    </div>
    {{/tasks}}
</section>